<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
<style>
a:link, a:visited {
 
  color: black;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;

}

a:hover, a:active {
  background-color: none;
  color: black;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 1px 32px;
  text-align: top;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.buttong {
  background-color: lightgreen; 
  color: black; 
  -webkit-text-fill-color:  black;
  border: 2px solid lightgreen;
}



.buttonb { 
  background-color: lightblue; 
  color: black; 
  -webkit-text-fill-color:  black;
  border: 2px solid lightblue;
}

.buttonb:hover { 
  background-color: white;
  color: black;
}

.buttonr {
  background-color: #f44336; 
  color: black;
  border: 2px solid #f44336;
}

.buttonr:hover {
  background-color: white;
  color: black;
}

.buttongr {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
}

.buttongr:hover {background-color: #e7e7e7;}

.buttonbl {
  background-color: #FFFACD;
  color: black;
  border: 2px solid #555555;
}

.buttonbl:hover {
  background-color: white;
  color: black;
}


</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scheme List - Test Task</title>
    <meta name="description" content="Scheme List - Test Task">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href='{% static "images/favicon.png" %}'>
    <link rel="shortcut icon" href='{% static "images/favicon.png" %}'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href='{% static "assets/css/cs-skin-elastic.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/lib/datatable/dataTables.bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/create"><i class="menu-icon ti-plus"></i>Create scheme </a>
                    </li>
                  
              
      
                    <li>
                        <a href="/list"> <i class="menu-icon fa fa-table"></i>Scheme list</a>
                    </li>


                    
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img style=' height: 40px'src='{% static "images/logo1.png" %}' alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src='{% static "images/logo2.png" %}' alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                       

      
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon ti-user"></i>
                        </a>

                        <div class="user-menu dropdown-menu">


                            <a class="nav-link" href="/./accounts/logout"><i class="fa fa-power-off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- /header -->
        <!-- Header-->


        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Schemes</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Values of columns</th>
                                            <th>Names of columns</th>
                                            <th>Order of columns</th>
                                            <th>Status</th>

                                            <th>Action</th>
                         
                                        </tr>
                                    </thead>
                                    <tbody>
{% for s in object_list %}
                                        <tr>
                                            <td>{{ s.name }}</td>
                                            <td>
{% if s.c1 == '1' %} 
{% elif s.c1 == '2' %} Name, 
{% elif s.c1 == '3' %} Job,
{% elif s.c1 == '4' %} Company,
{% elif s.c1 == '5' %} Date,
{% elif s.c1 == '6' %} Phone number,
{% elif s.c1 == '7' %} Address, 
{% elif s.c1 == '8' %} City,
{% elif s.c1 == '9' %} Country,
{% elif s.c1 == '10' %} E-mail
{% endif %}


{% if s.c2 == '1' %} 
{% elif s.c2 == '2' %} Name, 
{% elif s.c2 == '3' %} Job,
{% elif s.c2 == '4' %} Company,
{% elif s.c2 == '5' %} Date,
{% elif s.c2 == '6' %} Phone number,
{% elif s.c2 == '7' %} Address, 
{% elif s.c2 == '8' %} City,
{% elif s.c2 == '9' %} Country,
{% elif s.c2 == '10' %} E-mail
{% endif %}

{% if s.c3 == '1' %} 
{% elif s.c3 == '2' %} Name, 
{% elif s.c3 == '3' %} Job,
{% elif s.c3 == '4' %} Company,
{% elif s.c3 == '5' %} Date,
{% elif s.c3 == '6' %} Phone number,
{% elif s.c3 == '7' %} Address, 
{% elif s.c3 == '8' %} City,
{% elif s.c3 == '9' %} Country,
{% elif s.c3 == '10' %} E-mail
{% endif %}

{% if s.c4 == '1' %} 
{% elif s.c4 == '2' %} Name, 
{% elif s.c4 == '3' %} Job,
{% elif s.c4 == '4' %} Company,
{% elif s.c4 == '5' %} Date,
{% elif s.c4 == '6' %} Phone number,
{% elif s.c4 == '7' %} Address, 
{% elif s.c4 == '8' %} City,
{% elif s.c4 == '9' %} Country,
{% elif s.c4 == '10' %} E-mail
{% endif %}

{% if s.c5 == '1' %} 
{% elif s.c5 == '2' %} Name, 
{% elif s.c5 == '3' %} Job,
{% elif s.c5 == '4' %} Company,
{% elif s.c5 == '5' %} Date,
{% elif s.c5 == '6' %} Phone number,
{% elif s.c5 == '7' %} Address, 
{% elif s.c5 == '8' %} City,
{% elif s.c5 == '9' %} Country,
{% elif s.c5 == '10' %} E-mail
{% endif %}

{% if s.c6 == '1' %} 
{% elif s.c6 == '2' %} Name, 
{% elif s.c6 == '3' %} Job,
{% elif s.c6 == '4' %} Company,
{% elif s.c6 == '5' %} Date,
{% elif s.c6 == '6' %} Phone number,
{% elif s.c6 == '7' %} Address, 
{% elif s.c6 == '8' %} City,
{% elif s.c6 == '9' %} Country,
{% elif s.c6 == '10' %} E-mail
{% endif %}

{% if s.c7 == '1' %} 
{% elif s.c7 == '2' %} Name, 
{% elif s.c7 == '3' %} Job,
{% elif s.c7 == '4' %} Company,
{% elif s.c7 == '5' %} Date,
{% elif s.c7 == '6' %} Phone number,
{% elif s.c7 == '7' %} Address, 
{% elif s.c7 == '8' %} City,
{% elif s.c7 == '9' %} Country,
{% elif s.c7 == '10' %} E-mail
{% endif %}

{% if s.c8 == '1' %} 
{% elif s.c8 == '2' %} Name, 
{% elif s.c8 == '3' %} Job,
{% elif s.c8 == '4' %} Company,
{% elif s.c8 == '5' %} Date,
{% elif s.c8 == '6' %} Phone number,
{% elif s.c8 == '7' %} Address, 
{% elif s.c8 == '8' %} City,
{% elif s.c8 == '9' %} Country,
{% elif s.c8 == '10' %} E-mail
{% endif %}

{% if s.c9 == '1' %} 
{% elif s.c9 == '2' %} Name
{% elif s.c9 == '3' %} Job
{% elif s.c9 == '4' %} Company
{% elif s.c9 == '5' %} Date
{% elif s.c9 == '6' %} Phone number
{% elif s.c9 == '7' %} Address
{% elif s.c9 == '8' %} City
{% elif s.c9 == '9' %} Country
{% elif s.c9 == '10' %} E-mail
{% endif %}

</td>
<td>
{% if s.n1 != 'None' %}
{{ s.n1 }},
{% endif %}

{% if s.n2 != 'None' %}
{{ s.n2 }},
{% endif %}

{% if s.n3 != 'None' %}
{{ s.n3 }},
{% endif %}

{% if s.n4 != 'None' %}
{{ s.n4 }},
{% endif %}

{% if s.n5 != 'None' %}
{{ s.n5 }},
{% endif %}

{% if s.n6 != 'None' %}
{{ s.n6 }},
{% endif %}


{% if s.n7 != 'None' %}
{{ s.n7 }},
{% endif %}

{% if s.n8 != 'None' %}
{{ s.n8 }},
{% endif %}

{% if s.n9 != 'None' %}
{{ s.n9 }}
{% endif %}</td>


                                            <td>
{% if s.o1 != 0 %}
{{ s.o1 }},
{% endif %}

{% if s.o2 != 0 %}
{{ s.o2 }},
{% endif %}

{% if s.o3 != 0 %}
{{ s.o3 }},
{% endif %}

{% if s.o4 != 0 %}
{{ s.o4 }},
{% endif %}

{% if s.o5 != 0 %}
{{ s.o5 }},
{% endif %}

{% if s.o6 != 0 %}
{{ s.o6 }},
{% endif %}

{% if s.o7 != 0 %}
{{ s.o7 }},
{% endif %}

{% if s.o8 != 0 %}
{{ s.o8 }},
{% endif %}

{% if s.o9 != 0 %}
{{ s.o9 }}
{% endif %}
</td>
                                            <td>{% if s.upload == '' %}
No data generated yet
{% elif s.upload == 'In Progress' %}
<button  class="button buttonb">Generating file <img style=' width: 15px' class="rounded-circle" src="{% static 'images/loading.jpg' %}" > </button></div>
{% else %}
<button class="button buttong"> Ready </button>
{% endif %}</td>





                                            <td>{% if s.upload == '' %}
<a  href="/./do/{{ s.id }}/"><button class="button buttonb">Generate CSV</button></a>
{% elif s.upload == 'In Progress' %}
<button class="button buttongr" disabled>Generate CSV</button>
{% else %}
<a href="/./do/{{ s.id }}/"><button class="button buttonb">Generate CSV</button></a>
{% endif %}



<a href="/./edit/{{ s.id }}/"><button  class="button buttonb">Edit</button></a>
<a href="/./delete/{{ s.id }}/"><button class="button buttonr">Delete</button></a>


{% if s.upload == '' %}
<button class="button buttongr" disabled>Download</button>
{% elif s.upload == 'In Progress' %}
<button class="button buttonb" disabled>Download</button>
{% else %}
<a href="{{ s.upload.url }}"><button class="button buttonb">Download</button></a>
{% endif %}
                                            </td>
                                           {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


        <div class="clearfix"></div>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src='{% static "assets/js/main.js" %}'></script>


    <script src='{% static "assets/js/lib/data-table/datatables.min.js" %}'></script>
    <script src='{% static "assets/js/lib/data-table/dataTables.bootstrap.min.js" %}'></script>
    <script src='{% static "assets/js/lib/data-table/dataTables.buttons.min.js" %}'></script>
    <script src='{% static "assets/js/lib/data-table/buttons.bootstrap.min.js" %}'></script>
    <script src='{% static "assets/js/lib/data-table/jszip.min.js"  %}'></script>
    <script src='{% static "assets/js/lib/data-table/vfs_fonts.js"  %}'></script>
    <script src='{% static "assets/js/lib/data-table/buttons.html5.min.js" %}'></script>
    <script src='{% static "assets/js/lib/data-table/buttons.print.min.js" %}'></script>
    <script src='{% static "assets/js/lib/data-table/buttons.colVis.min.js" %}'></script>
    <script src='{% static "assets/js/init/datatables-init.js" %}'></script>


    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
      } );
  </script>


</body>
</html>
